header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 0.7rem 0rem;
}
img {
  display: flex;
  justify-content: center;
  align-items: center;
}
