.gallery_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}

.gallery_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery_1 .img1 {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 5px;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 8px;
  padding-inline: 10px;
}

.content p {
  flex: 1;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.redd {
  color: red;
}

/* Modal styles */
.dialog-box {
  background-color: white;
  border: none;
  border-radius: 12px;
  padding: 1.5rem;
  width: 90%;
  max-width: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.modal-img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 0.75rem;
}

.desc {
  font-size: 1rem;
  color: #333;
  text-align: center;
  margin-top: 0;
}

.dialog-box button {
  padding: 0.6rem 1.2rem;
  background-color: var(--profile-btn);
  color: var(--btn-text-color);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dialog-box button:hover {
  background-color: var(--profile-btn-hover);
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
  .gallery_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .dialog-box {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .gallery_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .content p {
    font-size: 14px;
  }

  .dialog-box {
    width: 50%;
  }

  .desc {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .gallery_grid {
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }

  .content p {
    font-size: 14px;
  }

  .dialog-box {
    width: 80%;
  }

  .desc {
    font-size: 0.8rem;
  }
}
