footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgba(33, 33, 33, 0.7);
  padding: 1rem 0 2rem 0;
}
