:root {
  --header-bg-color: rgba(255, 255, 255, 0.8);
  --background-color: rgba(252, 245, 229, 1);
  --bessie-coleman: rgba(33, 33, 33, 1);
  --civil-aviator: rgba(33, 33, 33, 0.7);
  --profile-btn: rgba(33, 33, 33, 1);
  --profile-btn-hover: rgba(33, 33, 33, 0.8);
  --btn-text-color: rgba(252, 245, 229, 1);
  --thin-line-border: rgba(33, 33, 33, 0.3);
}

body {
  background-color: var(--background-color);
  /* padding:  0; */
  /* margin: 2rem ; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
}

dialog::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

dialog {
  scrollbar-width: none; /* For Firefox */
  overflow: hidden; /* Prevents scrolling */
}


.gallery_container {
  width: 92%;
  margin: 0 auto;
  height: auto;
  padding: 0.5rem;
}

/* MEDIA QUARIES */

@media (max-width: 900px) {
  .gallery_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .gallery_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .content p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .gallery_grid {
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }
  .content p {
    font-size: 14px;
  }
}
